<header>
<div id="header-container">
<div id="title" class="name">Jason Singh</div>
<div id="icons-container">
<a href="www.linkedin.com/in/jasonsingh21">
  <div class="icon icon-linkedin"></div>
</a>
</div>
</div>
</header>
<main>
<div id='portfolio-1' class="portfolio">
  <div id='portfolio-container-1' class="portfolio-container">
    <div class="text-container text-container-left">
      <div class="text-tilte">Coding Resume</div>
        <div class="text-body">This resume refelcts my coding profecencies</div>
          <a href="www.nba.com">
              <div class="text-button">View Now</div>
          </a>
       </div>
  </div>
</div>

<div id="portfolio-2" class="portfolio">
  <div id="portfolio-container-2" class="portfolio-container">

    <div class="text-container text-container-right">
      <div class="text-tilte">Financial Blog</div>
        <div class="text-body">This is my financial blog discussing business thoughts and the world economy.
        </div>
        <div class="text-button">
          <%= link_to 'Articles', controller: 'articles' %>
          </div>
    </div>
  </div>
</div>

<div id="portfolio-3" class="portfolio">
  <div id="design-portfolio-cloud"></div>
  <div id-"portfolio-container-3" class="portfolio-container">
    <div class="text-container text-container-left">
       <div class="text-tilte">Gallery</div>
         <div class="text-body">This is a compilation of my favorite artwork that I have done. 
         </div>
           <a href="www.nba.com">
             <div class="text-button">View Now</div>
           </a>
    </div>

  </div>
</div>
</main>

<footer>
  <div id="footer-container">
    <div class="footer-column">
      <div class="title">ABOUT</div>
      <div class="avatar"></div>
      <div class="text">I love to code</div>
    </div>
    <div class="footer-column">
      <div class="title">DESCRIPTION</div>
      <div class="text">This website is about me</div>
    </div>
    <div class="footer-column footer-column-last">
      <div class="title">CONTACT</div>
      <div class="text">If you have any questions about my services feel free to contact me.</div>
    </div>
  </div>  
</footer>

